<h2>Home page</h2>

@if (User.Identity.IsAuthenticated)
{
    <h2>Hello @User.Identity.Name , @{ User.Identity. }</h2>
    <form method="post" asp-action="Logout">
        <button type="submit">Logout</button>
    </form>

}
else
{
    <form method="post" asp-action="Login">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
        <button type="submit">Login</button>
    </form>

}

